-f https://download.pytorch.org/whl/torch_stable.html
sklearn
beautifulsoup4
google-auth
google-auth-oauthlib
matplotlib
numpy
pandas
pyproj
requests
scipy
scikit-learn
hydra-core
seaborn
tqdm
schedule
geopy
netCDF4
bunch
omegaconf
python-dotenv
coolname
wandb
torch==1.9.0+cu111
torchvision==0.10.0+cu111
git+https://github.com/pytorch/hydra-torch
pytorch-lightning-bolts==0.3.2
pytorch-lightning==1.2.8
rich
hydra-configs-pytorch-lightning
setproctitle
h5py