sklearn
beautifulsoup4
google-auth
google-auth-oauthlib
Keras-Preprocessing
matplotlib
numpy
pandas
pyproj
requests
scipy
scikit-learn
tensorboard==2.5.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
hydra-core
seaborn
tqdm
schedule
geopy
netCDF4
bunch