-f https://download.pytorch.org/whl/torch_stable.html
sklearn
beautifulsoup4
google-auth
google-auth-oauthlib
matplotlib
numpy
pandas
pyproj
requests
scipy
scikit-learn
hydra-core
seaborn
tqdm
schedule
geopy
netCDF4
bunch
omegaconf
python-dotenv
coolname
wandb
torch==1.11.0+cu113
torchmetrics==0.6.0
git+https://github.com/pytorch/hydra-torch
pytorch-lightning-bolts==0.3.2
pytorch-lightning==1.5.3
rich
hydra-configs-pytorch-lightning
setproctitle
h5py
scikit-image
pytorch_forecasting
statsmodels==0.13.2
optuna
plotly
EMD-signal
einops
performer-pytorch
prophet
neuralprophet