# @package hydra.hydra_logging

version: 1
formatters:
  default:
    format: "[%(asctime)s | %(name)s | %(levelname)s]: %(message)s"
    datefmt: "%Y-%m-%d %H:%M:%S"
handlers:
  console:
    class: wind_forecast.util.logging.RichConsoleHandler
    formatter: default
root:
  level: INFO
  handlers: [console]

disable_existing_loggers: false
